---
---

@import "{{ site.theme }}";
.page-header {
  color: #fff;
  text-align: center;
  background-color: #ba16ec;
  background-image: linear-gradient(120deg, #04e8ff, #ba16ec);
}

h1 {
  color: #6229A1;
}

h2 {
  color: #6229A1;
}

h3 {
  color: #6229A1;
}
